body {
    background-color: #121212;
    color: #fff;
    font-family: 'Raleway', sans-serif; /* Set default font */
    margin: 0;
    padding: 20px;
}

.raleway-title {
    font-weight: 900; /* Boldest weight for title */
}

h1 {
    color: #c8102e; /* Red color */
    text-align: center;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px #000;
}

h2 {
    color: #c8102e; /* Red color */
    font-size: 1.8em;
    margin-top: 20px;
}

.raleway-subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 700; /* Semi-bold weight for subtitles */
}

p, ul {
    line-height: 1.6;
    font-size: 1.1em;
    font-weight: 400; /* Normal weight for paragraphs */
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.main-image {
    width: 80%;
}

.action-image {
    width: 80%;
}

.celebration-image {
    width: 80%;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 2px solid #c8102e; /* Red color */
    border-radius: 10px;
    background-color: #1e1e1e; /* Darker background */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
}
